.git
.idea
.github
node_modules/
nbproject/
.vs*/
.devcontainer/
*.code-workspace
.create-adapter.json
Thumbs.db
.prettierrc.js
gulpfile.js

# CI test files
test/
travis/
.travis.yml
appveyor.yml
.travis.yaml
appveyor.yaml

# TypeScript sources and project configuration
src/
admin/src/
tsconfig.json
tsconfig.*.json
*.d.ts

# ESLint configuration
.eslintrc.json
.eslintrc.js

# Sourcemaps
**/*.js.map
**/*.css.map

# npm package files
iobroker.*.tgz
package-lock.json

# maintenance scripts
maintenance/**