/* You can delete those if you want. I just found them very helpful */
* {
    box-sizing: border-box;
}
.m {
    /* Don't cut off dropdowns! */
    overflow: initial;
}

.m .row {
    margin-bottom: 0;
}

.m .switch {
    white-space: nowrap;
}

/* Add your styles here */
